/* RESETS */
body,
main,
header h1,
footer p,
main ul {
  margin: 0px;
  padding: 0px;
}

.cart-items-div p {
  margin: 0px;
  padding: 0px;
}

/* GENERAL */
body {
  font-family: "Yrsa", serif;
  color: #22211f;
  /*it's main textcolor
  /* position: relative; */
}

.hide {
  display: none !important;
}

/* SPECIFICS */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 30px;
  border-bottom: #e5e5e5 2px solid;
  color: #6a6861;
  background-color: white;
  z-index: 4;
}
.header-logo {
  display: flex;
}

.header-logo img {
  filter: invert(43%) sepia(2%) saturate(1361%) hue-rotate(9deg) brightness(90%)
    contrast(81%);
  width: 28px;
  transform: rotate(-48deg);
}

h1 {
  font-family: "Megrim", cursive;
  font-weight: 1000;
}

main {
  margin-top: 100px;
}

.category-selection {
  padding: 0 30px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-list {
  list-style-type: none;
  width: 48%;
  height: 50px;
  margin-top: 10px;
}

.category-list a {
  background-color: white;
  border: #e5e5e5 solid 2px;
  width: 100%;
  height: 100%;
  color: #6a6861;
  font-size: 28px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allItems-li {
  width: 98%;
}

.items-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 20px;
  margin-bottom: 150px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: 150px;
  height: 150px;
  border: 1px solid #c4c4c4;
  position: relative;
}

.divImg {
  max-width: 115px;
}

.divInfo {
  width: 14px;
  position: absolute;
  bottom: 11px;
  right: 15px;
  z-index: 1;
}

.divTitle {
  text-decoration: none;
  color: #515151;
  font-size: 20px;
  width: 125px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
}

.divDesc {
  background: rgba(229, 229, 229, 0.88);
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  line-height: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  margin: 0;
  padding: 20px;
  z-index: 2;
}

.divAddToCart {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 35px;
  z-index: 3;
}

/*colors on Plus image*/
.divAddToCart[data-name="green"] {
  filter: invert(89%) sepia(23%) saturate(215%) hue-rotate(51deg)
    brightness(92%) contrast(85%);
}

.divAddToCart[data-name="black"] {
  filter: invert(90%) sepia(48%) saturate(6417%) hue-rotate(297deg)
    brightness(100%) contrast(82%);
}

.divAddToCart[data-name="flower"] {
  filter: invert(96%) sepia(8%) saturate(1503%) hue-rotate(3deg) brightness(95%)
    contrast(88%);
}

.divAddToCart[data-name="chai"] {
  filter: invert(99%) sepia(20%) saturate(4680%) hue-rotate(290deg)
    brightness(102%) contrast(78%);
}

.divAddToCart[data-name="oolong"] {
  filter: invert(90%) sepia(26%) saturate(446%) hue-rotate(353deg)
    brightness(89%) contrast(86%);
}

.divAddToCart[data-name="herbal"] {
  filter: invert(81%) sepia(20%) saturate(371%) hue-rotate(234deg)
    brightness(89%) contrast(86%);
}

.divAddToCart[data-name="matcha"] {
  filter: invert(61%) sepia(21%) saturate(488%) hue-rotate(56deg)
    brightness(91%) contrast(91%);
}

.divAddToCart[data-name="chai latte"] {
  filter: invert(100%) sepia(22%) saturate(7237%) hue-rotate(296deg)
    brightness(92%) contrast(98%);
}

.divAddToCart[data-name="matcha latte"] {
  filter: invert(92%) sepia(13%) saturate(965%) hue-rotate(23deg)
    brightness(86%) contrast(87%);
}

.divAddToCart[data-name="latte"] {
  filter: invert(77%) sepia(35%) saturate(460%) hue-rotate(354deg)
    brightness(83%) contrast(89%);
}

.divAddToCart[data-name="hot coffee"] {
  filter: invert(78%) sepia(51%) saturate(427%) hue-rotate(329deg)
    brightness(80%) contrast(86%);
}

.divAddToCart[data-name="cold coffee"] {
  filter: invert(95%) sepia(6%) saturate(5316%) hue-rotate(309deg)
    brightness(112%) contrast(99%);
}

.divAddToCart[data-name="cookie"] {
  filter: invert(84%) sepia(70%) saturate(250%) hue-rotate(6deg) brightness(99%)
    contrast(89%);
}

.divAddToCart[data-name="donut"] {
  filter: invert(82%) sepia(20%) saturate(560%) hue-rotate(197deg)
    brightness(93%) contrast(94%);
}

/* Referring data attribute(each divTitle) */
.divTitle[data-name="green"] {
  background-color: #c2d3b5;
}

.divTitle[data-name="black"] {
  background-color: #e8a88d;
}

.divTitle[data-name="flower"] {
  background-color: #e0dd98;
}
.divTitle[data-name="chai"] {
  background-color: #e4aeae;
}
.divTitle[data-name="oolong"] {
  background-color: #d6c896;
}
.divTitle[data-name="herbal"] {
  background-color: #c9afd5;
}
.divTitle[data-name="matcha"] {
  background-color: #7d9c6e;
}
.divTitle[data-name="chai latte"] {
  background-color: #e8a88d;
}
.divTitle[data-name="matcha latte"] {
  background-color: #b6c884;
}
.divTitle[data-name="latte"] {
  background-color: #caa46c;
}
.divTitle[data-name="hot coffee"] {
  background-color: #c29871;
}
.divTitle[data-name="cold coffee"] {
  background-color: #fed291;
}
.divTitle[data-name="cookie"] {
  background-color: #e6e88d;
}
.divTitle[data-name="donut"] {
  background-color: #bbc2e6;
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: #e5e5e5;
  width: 100vw;
  text-align: center;
  z-index: 4;
}

.cart-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: white;
  height: 180px;
  width: 100vw;
  border-top: 2px #e5e5e5 solid;
}

.cart-container p {
  box-sizing: border-box;
  margin: 1px;
}

.cart-contents-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
}

.cart-items-div {
  display: flex;
  flex-direction: column;
  max-height: 100px;
  text-align: start;
  overflow: scroll;
  box-sizing: border-box;
  padding-right: 20px;
}

.cart-totals-div {
  text-align: end;
  position: fixed;
  right: 18px;
  bottom: 100px;
}

/* used nth-child */
.cart-totals-div :nth-child(3) {
  border-top: #c4c4c4 solid 1px;
}

.cart-button-container {
  display: flex;
  justify-content: space-evenly;
}

.cart-button-container button {
  width: 35%;
  height: 35px;
  font-family: "Yrsa", serif;
  font-size: 18px;
  border: none;
}

.cancel-btn {
  background-color: #e5e5e5;
  color: #515151;
}

.checkout-btn {
  background-color: #70946f;
  color: #e5e5e5;
}

/* MEDIA QUERIES */
