/* RESETS */
body,
main,
header h1,
footer p,
main ul {
  margin: 0;
  padding: 0;
}

/* GENERAL */
body {
  /* display: flex;
  flex-direction: column; */
  font-family: "Yrsa", serif;
  height: 100vh;
  color: #515151;
  /*it's main textcolor
  /* position: relative; */
}

/* SPECIFICS */
header {
  position: fixed;
  display: flex;
  justify-content: left;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 30px;
  border-bottom: #e5e5e5 1px solid;
  color: #6a6861;
  background-color: white;
}

h1 {
  font-family: "Zen Tokyo Zoo", cursive;
}
/* .header-logo {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
} */

main {
  margin-top: 100px;
}

.category-selection {
  padding: 0 30px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.category-list {
  list-style-type: none;
  width: 45%;
  height: 50px;
  margin-top: 10px;
}

.category-list a {
  background-color: white;
  border: #c4c4c4 solid 1px;
  width: 100%;
  height: 100%;
  color: #6a6861;
  font-size: 24px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allItems-li {
  width: 95%;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
}

.product {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 100px;
  height: 100px; */
  border: 2px dashed black;
}

.divImg {
  max-width: 150px;
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: #e5e5e5;
  width: 100vw;
  text-align: center;
}

/* MEDIA QUERIES */
